@font-face{
	font-family: roboto;
	src:  url(fuentes/RobotoSlab-Regular.ttf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding:0;
}


.portada{
	
}

@media(min-width: 1400px){
	header{
		width: 100%;
		height: 100px;
		box-sizing: border-box;
	}


	.fondo_menu_navegacion{
		background: whitesmoke;
		width: 80%;
		margin: auto;
		
	}

	.logo{
		width: 20%;
		height: 100px;
		float: left;
		margin: auto;
	}

	.img_logo{
		width: 80%;
		height: 110%;
		box-sizing: border-box;
		display: block;
		margin-left: auto;
		margin-right: auto
	}


	.navegacion{
		width: 80%;
	}

	nav{
		width: 80%;
		height: 100px;
		float: left;
		padding-top: 20px;
		box-sizing: border-box;
		border-bottom:  2px solid #cc0000ff;
		min-width: 800;

	}

	nav ul{
		width: 80%;
		padding-top:20px;
		
	}

	.carrito{
		margin-top: -50px;
		margin-right: 30px;
		box-sizing: border-box;
		float: right;
	}

	.login{
		margin-top: -50px;
		margin-right: 90px;
		box-sizing: border-box;
		float: right;
	}

	.logout{
		margin-top: -45px;
		margin-right: 85px;
		box-sizing: border-box;
		float: right;
	}

	nav ul li{
		display: inline;
	}

	nav ul li a{
		color: #cc0000ff;
		font-family: roboto;
		font-size: x-large;
		text-decoration: none;
		padding-left: 50px;
		letter-spacing: 1px;
	}

	nav ul li a:hover{
		color: #38761dff;
	}




	.portada{
		margin-top: 20px;
		background-image:  url("imagenes/fondo_portada_2.jpg");
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: 800px;
		box-sizing: border-box;

	}

	.texto_portada{
		padding-top: 30px;
		box-sizing: border-box;
		padding-left: 50%;
		font-family: roboto;
		font-size: large;
		color: whitesmoke;
		font-style: italic;

	}


	.contenedor_flexible{
		border-top:  4px solid  #cc0000ff;
		margin-top: 80px;
		width: 100%;
		height: auto;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

	}

	.contenedor_flexible div{
		margin-top: 2%;
		width: 300px;
		height: 200px;


	}

	.icono_publi{
		width: 100%;
		height: 90%;
	}

	.icono_publi p{
		font-family: roboto;
		font-size: large;
		color: #cc0000ff;
		text-align: center;
		padding-top: 10%;

	}

	.icono_publi_img{
		margin-left: 30%;
		width: 40%;
		height: 70%;
	}

	footer{
		margin-top: 50px;
		background-color: #cc0000ff;
		width: 100%;
		height: auto;
	}

	.footer_flexible{
		width: 100%;
		height: auto;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		justify-content: center ;
	}

	.footer_flexible div{
		margin-top: 1%;
		width: 50%;
		height: auto;
	}

	.icono_tienda{
		margin-left: 50px;
		margin-top: -5px;
		width: 50px;
		height: 50px;
		float: left;
	}

	.footer_flexible div ul{
		margin-right: 50px;
	}

	.footer_flexible div ul li{
		display: inline;
	}

	.footer_flexible div ul li a img{
		width: 40px;
		height: 40px;
		float:  right;
		margin-left: 10px;
		margin-right: 10px;
	}

	.telefono{
		padding-left: 120px;
		color: whitesmoke;
		font-family: roboto;
		font-size: large;
		text-align: left;
	}

	.copyright{
		padding-top: 0px;
		width: 100%;
		color: whitesmoke;
		font-family: roboto;
		font-size: small;
		text-align: center;
		float: bottom;

	}


	/*--------------------------------------- Sobre Nosotros ------------------------------------------*/

	section{
		margin-top: 50px;
		margin:  auto;
		width: 80%;
		height: auto;

	}

	article{
		margin-top: 60px;
		width: 100%;
		height: auto;
	}

	article div{
		margin-top: 20px;

	}

	section h1{
		margin-top: 50px;
		color:  #cc0000ff;
		font-family: roboto;
		font-size: xx-large;
		text-align: center;

	}

	article img{
		width: 50%;
		height: 500px;
		border-radius: 20%;

	}

	article p{
		float: right;
		color:  #cc0000ff;
		font-family: roboto;
		font-size: x-large;
		text-align: justify;
		width: 50%;
		margin-top: 7%;

	}

	hr{
		color:  #cc0000ff;
		
	}

	div.ubicacion{
		width: 100%;
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: space-between;	

	}

	article h2{
		display: inline-flex;
		flex-wrap: wrap;
		text-align: center;
		color:  #cc0000ff;
		font-family: roboto;

	}

	article p.derecha{
		padding-left: 50px;
	}

	article p.izquierda{
		padding-right: 50px;
	}

	article div{
		display: flex;
		flex-wrap: wrap;

	}






	/*-------------------------------------------------------------------------------------------------*/






	/*------------------------------------------- Productos -------------------------------------------*/


	div .col {
		padding-bottom: 20px;
	}

	div .row{
		padding-bottom: 20px;
	}


	/*-------------------------------------------------------------------------------------------------*/



}



