<footer>

    <div class="footer_flexible">
        <div>
            <img class="icono_tienda" src="css/imagenes/tienda.png">
            <p class="telefono"> Tienda Huelva - 954844552</p>
            <p class="telefono"> Tienda Xaheriz - 954844302</p>
        </div>

        <div>
            <ul>
                <li><a class="red_socil" href="inicio.html"><img class="red_social_img" src="css/imagenes/facebook.png"></a>
                </li>
                <li><a class="red_socil" href="inicio.html"><img class="red_social_img"
                                                                 src="css/imagenes/instagram.png"></a></li>
                <li><a class="red_socil" href="inicio.html"><img class="red_social_img"
                                                                 src="css/imagenes/gmail.png"></a></li>
            </ul>
        </div>

        <p class="copyright"> Superlopez S.L. Todos los derechos reservados.</p>

    </div>

</footer>