<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="head.html">
</head>
<body>


<header th:insert="header.html"></header>

  





    <section style="margin-right:  100px;">
    		<br><br>
    		<h1 style="margin-right: 120px">Nuestros Lotes</h1>
    		<br><br>


    		<div class="container">


				<th:block>
					<div class="row">
						<div th:each="lote : ${lotes}"  class="col">
							<div class="card" style="width: 18rem;">
								<div class="card-body" style="text-align: center;">
									<h5 class="card-title" th:text=" ${lote.codigo}"></h5>
									<br>
									<p th:each=" producto: ${lote.productos}"
									   th:text="${producto.descripcion}" class="card-text"></p>
									<br>
									<p class="card-text">10,99 €</p>
									<a role="button" th:href="@{'/productos/comprar?idLote=' + ${lote.id}}"  class="btn btn-danger">Comprar</a>
								</div>
							</div>
						</div>
					</div>
				</th:block>

<!--			  <div class="row">-->
<!--			    <div class="col">-->
<!--				     <div class="card" style="width: 18rem;">-->
<!--					  <div class="card-body" style="text-align: center;">-->
<!--					    <h5 class="card-title">Lote 1</h5>-->
<!--					    <br>-->
<!--					    <p class="card-text"> 1/2 kg Alitas de Pollo</p>-->
<!--					    <p class="card-text"> 1/2 kg Salchichas Caseras</p>-->
<!--					    <p class="card-text"> 1/2 kg Filete de Lomo</p>-->
<!--					    <p class="card-text"> 1/2 kg Filete de Pollo</p>-->
<!--					    <br>-->
<!--					    <p class="card-text">10,99 €</p>-->
<!--					   <button type="button" class="btn btn-danger">Comprar</button>-->
<!--					  </div>-->
<!--				</div>-->
<!--			    </div>-->
<!--			    <div class="col">-->
<!--				     <div class="card" style="width: 18rem;">-->
<!--					  <div class="card-body" style="text-align: center;">-->
<!--					    <h5 class="card-title">Lote 2</h5>-->
<!--					    <br>-->
<!--					    <p class="card-text"> 1/2 kg Pinchito de Pollo</p>-->
<!--					    <p class="card-text"> 1/2 kg Hamburguesas</p>-->
<!--					    <p class="card-text"> 1/2 kg Magro de cerdo a trocitos</p>-->
<!--					    <p class="card-text"> 1/2 kg Salchichas</p>-->
<!--					    <br>-->
<!--					    <p class="card-text">10,99 €</p>-->
<!--					   <button type="button" class="btn btn-danger">Comprar</button>-->
<!--					  </div>-->
<!--					</div>-->
<!--			    </div>-->
<!--			    <div class="col">-->
<!--				     <div class="card" style="width: 18rem;">-->
<!--					  <div class="card-body" style="text-align: center;">-->
<!--					    <h5 class="card-title">Lote 3</h5>-->
<!--					    <br>-->
<!--					    <p class="card-text"> 1/2 kg Alitas de Pollo</p>-->
<!--					    <p class="card-text"> 1/2 kg Salchichas Caseras</p>-->
<!--					    <p class="card-text"> 1/2 kg Filete de Lomo</p>-->
<!--					    <p class="card-text"> 1/2 kg Filete de Pollo</p>-->
<!--					    <br>-->
<!--					    <p class="card-text">10,99 €</p>-->
<!--					   <button type="button" class="btn btn-danger">Comprar</button>-->
<!--					  </div>-->
<!--				</div>-->
<!--			   -->
<!--			    <div class="col">-->
<!--				     <div class="card" style="width: 18rem;">-->
<!--					  <div class="card-body" style="text-align: center;">-->
<!--					    <h5 class="card-title">Lote 4</h5>-->
<!--					    <br>-->
<!--					    <p class="card-text"> 1/2 kg Alitas de Pollo</p>-->
<!--					    <p class="card-text"> 1/2 kg Salchichas Caseras</p>-->
<!--					    <p class="card-text"> 1/2 kg Filete de Lomo</p>-->
<!--					    <p class="card-text"> 1/2 kg Filete de Pollo</p>-->
<!--					    <br>-->
<!--					    <p class="card-text">10,99 €</p>-->
<!--					   <button type="button" class="btn btn-danger">Comprar</button>-->
<!--					  </div>-->
<!--				</div>-->
<!--			    </div>-->
<!--			  </div>-->

<!--			  <div class="row">-->
<!--			    <div class="col">-->
<!--				     <div class="card" style="width: 18rem;">-->
<!--					  <div class="card-body" style="text-align: center;">-->
<!--					    <h5 class="card-title">Lote 5</h5>-->
<!--					    <br>-->
<!--					    <p class="card-text"> 1/2 kg Alitas de Pollo</p>-->
<!--					    <p class="card-text"> 1/2 kg Salchichas Caseras</p>-->
<!--					    <p class="card-text"> 1/2 kg Filete de Lomo</p>-->
<!--					    <p class="card-text"> 1/2 kg Filete de Pollo</p>-->
<!--					    <br>-->
<!--					    <p class="card-text">10,99 €</p>-->
<!--					   <button type="button" class="btn btn-danger">Comprar</button>-->
<!--					  </div>-->
<!--				</div>-->
<!--			    </div>-->
<!--			    <div class="col">-->
<!--				     <div class="card" style="width: 18rem;">-->
<!--					  <div class="card-body" style="text-align: center;">-->
<!--					    <h5 class="card-title">Lote 6</h5>-->
<!--					    <br>-->
<!--					    <p class="card-text"> 1/2 kg Pinchito de Pollo</p>-->
<!--					    <p class="card-text"> 1/2 kg Hamburguesas</p>-->
<!--					    <p class="card-text"> 1/2 kg Magro de cerdo a trocitos</p>-->
<!--					    <p class="card-text"> 1/2 kg Salchichas</p>-->
<!--					    <br>-->
<!--					    <p class="card-text">10,99 €</p>-->
<!--					   <button type="button" class="btn btn-danger">Comprar</button>-->
<!--					  </div>-->
<!--					</div>-->
<!--			    </div>-->
<!--			    <div class="col">-->
<!--				     <div class="card" style="width: 18rem;">-->
<!--					  <div class="card-body" style="text-align: center;">-->
<!--					    <h5 class="card-title">Lote 7</h5>-->
<!--					    <br>-->
<!--					    <p class="card-text"> 1/2 kg Alitas de Pollo</p>-->
<!--					    <p class="card-text"> 1/2 kg Salchichas Caseras</p>-->
<!--					    <p class="card-text"> 1/2 kg Filete de Lomo</p>-->
<!--					    <p class="card-text"> 1/2 kg Filete de Pollo</p>-->
<!--					    <br>-->
<!--					    <p class="card-text">10,99 €</p>-->
<!--					   <button type="button" class="btn btn-danger">Comprar</button>-->
<!--					  </div>-->
<!--				</div>-->
<!--			</div>-->
<!--				<div class="col">-->
<!--				     <div class="card" style="width: 18rem;">-->
<!--					  <div class="card-body" style="text-align: center;">-->
<!--					    <h5 class="card-title">Lote 8</h5>-->
<!--					    <br>-->
<!--					    <p class="card-text"> 1/2 kg Alitas de Pollo</p>-->
<!--					    <p class="card-text"> 1/2 kg Salchichas Caseras</p>-->
<!--					    <p class="card-text"> 1/2 kg Filete de Lomo</p>-->
<!--					    <p class="card-text"> 1/2 kg Filete de Pollo</p>-->
<!--					    <br>-->
<!--					    <p class="card-text">10,99 €</p>-->
<!--					   <button type="button" class="btn btn-danger">Comprar</button>-->
<!--					  </div>-->
<!--				</div>-->
<!--			    </div>-->
<!--			  </div>-->



			</div>
    		
 
    	
    </section>



	<footer th:insert="footer.html"></footer>





</body>
</html>