<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="head.html">
</head>
<body>


<header th:insert="header.html"></header>
  





    <section>
    		<br><br><br><br>
    		<h1>¿Quiénes Somos?</h1>
    		<article>
    			<div>
    			<img  src="css/imagenes/plaza_abastos.jpg">
  				<p class="derecha">
  					Somos una empresa familiar con más de 20 años de historia, comenzamos como un puesto de carnicería en la plaza de abastos de nuestra localidad.
  					Gracias al trabajo duro, a nuestra incansable búsqueda de buscar la mayor calidad en el producto, a nuestras especialidades artesanas en 
  					embutidos y elaborados y a la aceptación e inmejorable respuesta de nuestros clientes, fuimos creciendo poco a poco hasta conseguir abrir, junto
  					con el puesto de carne, un pequeño supermercado en un barrio a las afueras de la localidad.
  				</p>
  				</div>


  				<div>
  				<p class="izquierda">
  					La cosa no quedó aquí, ya que poco a poco la tienda, junto con los productos de carnicería, fue abriendo nuevos mercados, incorporando otros 
  					productos de alimentación, bebidas, congelados , frutería y droguería. Era un pequeño supermercado pero poco a poco, iba teniendo más afluencia
  					y las ventas fueron creciendo.
  				</p>
  				<img  src="css/imagenes/puerta_tienda.jpeg">
  				</div>

				<div>
  				<img  src="css/imagenes/tienda_2.jpeg">
  				<p class="derecha">
  					Al tiempo se abrió un segundo supermercado, no muy lejos del primero, pero con las mismas ganas ilusión y afan por crecer. A día de hoy
  					ambas tiendas funcionan con normalidad, abasteciendo productos de primera calidad a los vecinos de la localidad, siendo unos supermercado
  					conocidos en todo el pueblo.
  				</p>
				</div>

    		</article>

    		<br><br><br><br>
    		<br><br><br><br>
    		<hr color=" #cc0000">
    		<h1>¿Dónde Estamos?</h1>



    		<article>
	    		<div class="ubicacion"><h2> Tienda Calle Xaheriz</h2><h2> Tienda Calle Huelva</h2></div>
	    		<div class="ubicacion">
	    			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3172.3837433659646!2d-5.424162584409863!3d37.333422779841996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd12983b336b2f73%3A0x32169014d38949f0!2sSuperlopez%20S%20L!5e0!3m2!1ses!2ses!4v1635624780253!5m2!1ses!2ses" width="45%" height="400px" style="border:0;" allowfullscreen="" loading="lazy"></iframe> 		
	    			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471.5689762270437!2d-5.418884261710734!3d37.33480682884949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd129823447cf089%3A0xbcb12b7fc44487ad!2sSuper%20L%C3%B3pez!5e0!3m2!1ses!2ses!4v1635626296176!5m2!1ses!2ses" width="45%" height="400px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	  			</div>
  			</article>
    	
 
    	
    </section>



	<footer th:insert="footer.html"></footer>
     





</body>
</html>